__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
.env
*.log
*.db
data/user_data.json
data/chatbot_state.json
data/chatbot_state.json.lock
data/lite_clients.json
data/user_names.json
/models/
.DS_Store
